@import 'vars';
@import 'mixins';

@keyframes placeholderShimmer {
  0% { background-position: -468px 0; }
  100% { background-position: 468px 0; }
}

@-webkit-keyframes placeholderShimmer {
  0% { background-position: -468px 0; }
  100% { background-position: 468px 0; }
}

.shimmer {
  @include shimmer();
}