@import "base";
@import "vars";
@import "mixins";

.jsd {
  &-card {
    &-article {
      &-comments {
        padding: var(--su-4);

        @media (min-width: $break-tablet) {
          padding: var(--su-4) var(--su-8);
        }
      }

      &-authors {
        padding: var(--su-4);

        @media (min-width: $break-tablet) {
          padding: var(--su-8) var(--su-12);
        }

        > div {
          &:first-child {
            color: var(--base-a80);
          }
        }

        &-details {
          @include flexbox();

          ul, li {
            padding: 0;
            margin: 0;
            list-style: none;
          }

          ul {
            @include flexbox();

            li {
              width: 24px;
              height: 24px;

              &.twitter {
                height: 23px;
                width: 28px;
              }
            }

            a {
              position: relative;
              height: 100%;
              width: 100%;
              display: inline-block;

              img {
                @include opacity(0.5);
              }

              &:hover {
                img {
                  @include opacity(0.75);
                }
              }
            }
          }
        }
      }
    }
  }
}
