@import 'vars';
@import 'mixins';

:root {
  --su-0: 0rem;
  --su-1: 0.25rem;
  --su-2: 0.5rem;
  --su-3: 0.75rem;
  --su-4: 1rem;
  --su-5: 1.25rem;
  --su-6: 1.5rem;
  --su-7: 1.75rem;
  --su-8: 2rem;
  --su-9: 2.25rem;
  --su-10: 2.5rem;
  --su-11: 2.75rem;
  --su-12: 3rem;
  --su-13: 3.25rem;
  --su-14: 3.5rem;
  --su-15: 3.75rem;
  --su-16: 4rem;

  --mb-0: var(--su-0) !important;
  --mb-1: var(--su-1) !important;
  --mb-2: var(--su-2) !important;
  --mb-3: var(--su-3) !important;
  --mb-4: var(--su-4) !important;
  --mb-5: var(--su-5) !important;
  --mb-6: var(--su-6) !important;
  --mb-7: var(--su-7) !important;
  --mb-8: var(--su-8) !important;

  --border-radius: 5px;

  --site-width: #{$break-large};
  --header-height: #{$header_height};

  --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ff-monospace: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --ff-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  --ff-console: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  --fs-xl: #{$fnt-sz-xl};
  --fs-l: #{$fnt-sz-l};
  --fs-m: #{$fnt-sz-m};
  --fs-base: #{$fnt-sz-base};
  --fs-s: #{$fnt-sz-s};
  --fs-xs: #{$fnt-sz-xs};
  --fs-xxs: #{$fnt-sz-xxs};
  --fw-light: #{$fnt_wt_light};
  --fw-normal: #{$fnt_wt_normal};
  --fw-med: #{$fnt_wt_med};
  --fw-heavy: #{$fnt_wt_bold};
  --fw-bold: #{$fnt_wt_bolder};
  --fs-2xl: #{$fnt-sz-2xl};
  --fs-3xl: #{$fnt-sz-3xl};
  --fs-4xl: var(--su-10);
  --fs-5xl: var(--su-10);

  --lh-tight: 1.25;
  --lh-tighter: 1.125;

  // Colours
  --body-bg: #{$colour_body_grey};
  --body-colour: #{$colour_dark_navy_blue};
  --link-colour: #{$link_colour};
  --link-bg-hover: #{$link_colour_bg};
  --link-colour-hover: #{$link_colour_hover};
  --tag-colour: #{$colour_card_tertiary};
  --tag-colour-hover: #{$colour_tag_hover};
  --card-bg: #{$colour_white};
  --card-colour: #{$colour_card};
  --card-colour-secondary: #{$colour_card_secondary};
  --card-colour-tertiary: #{$colour_card_tertiary};
  --card-secondary-border: rgba(8, 9, 10, 0.05);
  --card-secondary-colour: #{$colour_dark_grey_link};
  --card-secondary-bg: #{$colour_beige};
  --card-secondary-hover-bg: #{$colour_yellow};
  --card-secondary-hover-colour: #{$colour_dark_navy_blue};

  --base: #08090a;
  --base-a90: rgba(8, 9, 10, 0.9);
  --base-a80: rgba(8, 9, 10, 0.8);
  --base-a70: rgba(8, 9, 10, 0.7);
  --base-a60: rgba(8, 9, 10, 0.6);
  --base-a50: rgba(8, 9, 10, 0.5);
  --base-a40: rgba(8, 9, 10, 0.4);
  --base-a30: rgba(8, 9, 10, 0.3);
  --base-a20: rgba(8, 9, 10, 0.2);
  --base-a10: rgba(8, 9, 10, 0.1);
  --base-a5: rgba(8, 9, 10, 0.05);
  --base-100: var(--base);
  --base-90: #202428;
  --base-80: #363d44;
  --base-70: #4d5760;
  --base-60: #64707d;
  --base-50: #7d8a97;
  --base-40: #99a3ad;
  --base-30: #b5bdc4;
  --base-20: #d2d6db;
  --base-10: #eef0f1;
  --base-0: #f9fafa;
  --base-inverted: #fff;

  --accent-brand: #{$colour_yellow};

  --title-font-size: var(--su-6);

  @media (max-width: $break-large) {
    --site-width: 100%
  }
}

* {
  &::before, &::after {
    @include prefix(box-sizing, inherit, browsers);
  }
}

.fs-xl { font-size: var(--fs-xl); }
.fs-l { font-size: var(--fs-l); }
.fs-m { font-size: var(--fs-m); }
.fs-s { font-size: var(--fs-s); }
.fs-xs { font-size: var(--fs-xs); }
.fs-xxs { font-size: var(--fs-xxs); }
.fs-2xl { font-size: var(--fs-2xl); }
.fs-3xl { font-size: var(--fs-3xl); }
.fs-4xl { font-size: var(--fs-4xl); }
.fs-5xl { font-size: var(--fs-5xl); }
.fs-base { font-size: var(--fs-base); }

.s\:fs-5xl {
  @media (min-width: $break-tablet) {
    font-size: var(--fs-5xl) !important;
  }
}
.s\:fs-4xl {
  @media (min-width: $break-tablet) {
    font-size: var(--fs-4xl) !important;
  }
}
.s\:fs-3xl {
  @media (min-width: $break-tablet) {
    font-size: var(--fs-3xl) !important;
  }
}
.s\:fs-2xl {
  @media (min-width: $break-tablet) {
    font-size: var(--fs-2xl) !important;
  }
}
.s\:fs-xl {
  @media (min-width: $break-tablet) {
    font-size: var(--fs-xl) !important;
  }
}
.s\:fs-l {
  @media (min-width: $break-tablet) {
    font-size: var(--fs-l) !important;
  }
}
.s\:fs-m {
  @media (min-width: $break-tablet) {
    font-size: var(--fs-m) !important;
  }
}
.s\:fs-s {
  @media (min-width: $break-tablet) {
    font-size: var(--fs-s) !important;
  }
}
.s\:fs-xs {
  @media (min-width: $break-tablet) {
    font-size: var(--fs-xs) !important;
  }
}

.m\:fs-5xl {
  @media (min-width: $break-medium) {
    font-size: var(--fs-5xl) !important;
  }
}
.m\:fs-4xl {
  @media (min-width: $break-medium) {
    font-size: var(--fs-4xl) !important;
  }
}
.m\:fs-3xl {
  @media (min-width: $break-medium) {
    font-size: var(--fs-3xl) !important;
  }
}
.m\:fs-2xl {
  @media (min-width: $break-medium) {
    font-size: var(--fs-2xl) !important;
  }
}
.m\:fs-xl {
  @media (min-width: $break-medium) {
    font-size: var(--fs-xl) !important;
  }
}
.m\:fs-l {
  @media (min-width: $break-medium) {
    font-size: var(--fs-l) !important;
  }
}
.m\:fs-m {
  @media (min-width: $break-medium) {
    font-size: var(--fs-m) !important;
  }
}
.m\:fs-s {
  @media (min-width: $break-medium) {
    font-size: var(--fs-s) !important;
  }
}
.m\:fs-xs {
  @media (min-width: $break-medium) {
    font-size: var(--fs-xs) !important;
  }
}

.l\:fs-5xl {
  @media (min-width: $break-medium) {
    font-size: var(--fs-5xl) !important;
  }
}
.l\:fs-4xl {
  @media (min-width: $break-medium) {
    font-size: var(--fs-4xl) !important;
  }
}
.l\:fs-3xl {
  @media (min-width: $break-medium) {
    font-size: var(--fs-3xl) !important;
  }
}
.l\:fs-2xl {
  @media (min-width: $break-medium) {
    font-size: var(--fs-2xl) !important;
  }
}
.l\:fs-l {
  @media (min-width: $break-medium) {
    font-size: var(--fs-l) !important;
  }
}
.l\:fs-m {
  @media (min-width: $break-medium) {
    font-size: var(--fs-m) !important;
  }
}
.l\:fs-s {
  @media (min-width: $break-medium) {
    font-size: var(--fs-s) !important;
  }
}
.l\:fs-xs {
  @media (min-width: $break-medium) {
    font-size: var(--fs-xs) !important;
  }
}
.l\:fs-base {
  @media (min-width: $break-medium) {
    font-size: var(--fs-base) !important;
  }
}

.fw-light { font-weight: var(--fw-light); }
.fw-normal { font-weight: var(--fw-normal); }
.fw-med { font-weight: var(--fw-med); }
.fw-heavy { font-weight: var(--fw-heavy); }
.fw-bold { font-weight: var(--fw-bold); }
.s\:fw-heavy {
  @media (min-width: $break-tablet) {
    font-weight: var(--fw-heavy) !important;
  }
}

.ff-sans-serif { font-family: var(--ff-sans-serif); }
.ff-monospace { font-family: var(--ff-monospace); }
.ff-serif { font-family: var(--ff-serif); }

.lh-tight { line-height: var(--lh-tight) !important; }
.lh-tighter { line-height: var(--lh-tighter) !important; }

.ls-n1 { letter-spacing: -1px !important ;}
.ls-n2 { letter-spacing: -2px !important ;}
.ls-n3 { letter-spacing: -3px !important ;}
.ls-n4 { letter-spacing: -4px !important ;}

.l\:ls-n1 {
  @media (min-width: $break-medium) {
    letter-spacing: -1px !important ;
  }
}
.l\:ls-n2 {
  @media (min-width: $break-medium) {
    letter-spacing: -2px !important ;
  }
}
.l\:ls-n3 {
  @media (min-width: $break-medium) {
    letter-spacing: -3px !important ;
  }
}
.l\:ls-n4 {
  @media (min-width: $break-medium) {
    letter-spacing: -4px !important ;
  }
}

.s\:ls-n1 {
  @media (min-width: $break-tablet) {
    letter-spacing: -1px !important ;
  }
}
.s\:ls-n2 {
  @media (min-width: $break-tablet) {
    letter-spacing: -2px !important ;
  }
}
.s\:ls-n3 {
  @media (min-width: $break-tablet) {
    letter-spacing: -3px !important ;
  }
}
.s\:ls-n4 {
  @media (min-width: $break-tablet) {
    letter-spacing: -4px !important ;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden {
  display: none !important;
}

.hidden-sm {
  display: none;
}

.w-0 { width: 0 !important; }
.w-25 { width: 25% !important; }
.w-50 { width: 50% !important; }
.w-75 { width: 75% !important; }
.w-100 { width: 100% !important; }
.h-0 { height: 0 !important; }

.m-0 { margin: var(--su-0) !important; }
.m-1 { margin: var(--su-1) !important; }
.m-2 { margin: var(--su-2) !important; }
.m-3 { margin: var(--su-3) !important; }
.m-4 { margin: var(--su-4) !important; }
.m-5 { margin: var(--su-5) !important; }
.m-6 { margin: var(--su-6) !important; }
.m-7 { margin: var(--su-7) !important; }
.m-8 { margin: var(--su-8) !important; }

.mb-0 { margin-bottom: var(--su-0) !important; }
.mb-1 { margin-bottom: var(--su-1) !important; }
.mb-2 { margin-bottom: var(--su-2) !important; }
.mb-3 { margin-bottom: var(--su-3) !important; }
.mb-4 { margin-bottom: var(--su-4) !important; }
.mb-5 { margin-bottom: var(--su-5) !important; }
.mb-6 { margin-bottom: var(--su-6) !important; }
.mb-7 { margin-bottom: var(--su-7) !important; }
.mb-8 { margin-bottom: var(--su-8) !important; }

.s\:mb-0 {
  @media (min-width: $break-tablet) {
    margin-bottom: var(--su-0) !important;
  }
}

.mt-0 { margin-top: var(--su-0) !important; }
.mt-1 { margin-top: var(--su-1) !important; }
.mt-2 { margin-top: var(--su-2) !important; }
.mt-3 { margin-top: var(--su-3) !important; }
.mt-4 { margin-top: var(--su-4) !important; }
.mt-5 { margin-top: var(--su-5) !important; }
.mt-6 { margin-top: var(--su-6) !important; }
.mt-7 { margin-top: var(--su-7) !important; }
.mt-8 { margin-top: var(--su-8) !important; }
.-mt-0 { margin-top: calc(var(--su-0) * -1) !important; }
.-mt-1 { margin-top: calc(var(--su-1) * -1) !important; }
.-mt-2 { margin-top: calc(var(--su-2) * -1) !important; }
.-mt-3 { margin-top: calc(var(--su-3) * -1) !important; }
.-mt-4 { margin-top: calc(var(--su-4) * -1) !important; }
.-mt-5 { margin-top: calc(var(--su-5) * -1) !important; }
.-mt-6 { margin-top: calc(var(--su-6) * -1) !important; }
.-mt-7 { margin-top: calc(var(--su-7) * -1) !important; }
.-mt-8 { margin-top: calc(var(--su-8) * -1) !important; }

.mb-0 { margin-right: var(--su-0) !important; }
.mr-1 { margin-right: var(--su-1) !important; }
.mr-2 { margin-right: var(--su-2) !important; }
.mr-3 { margin-right: var(--su-3) !important; }
.mr-4 { margin-right: var(--su-4) !important; }
.mr-5 { margin-right: var(--su-5) !important; }
.mr-6 { margin-right: var(--su-6) !important; }
.mr-7 { margin-right: var(--su-7) !important; }
.mr-8 { margin-right: var(--su-8) !important; }

.ml-0 { margin-left: var(--su-0) !important; }
.ml-1 { margin-left: var(--su-1) !important; }
.ml-2 { margin-left: var(--su-2) !important; }
.ml-3 { margin-left: var(--su-3) !important; }
.ml-4 { margin-left: var(--su-4) !important; }
.ml-5 { margin-left: var(--su-5) !important; }
.ml-6 { margin-left: var(--su-6) !important; }
.ml-7 { margin-left: var(--su-7) !important; }
.ml-8 { margin-left: var(--su-8) !important; }

.p-0 { padding: var(--su-0) !important; }
.p-1 { padding: var(--su-1) !important; }
.p-2 { padding: var(--su-2) !important; }
.p-3 { padding: var(--su-3) !important; }
.p-4 { padding: var(--su-4) !important; }
.p-5 { padding: var(--su-5) !important; }
.p-6 { padding: var(--su-6) !important; }
.p-7 { padding: var(--su-7) !important; }
.p-8 { padding: var(--su-8) !important; }

.pt-0 { padding-top: var(--su-0) !important; }
.pt-1 { padding-top: var(--su-1) !important; }
.pt-2 { padding-top: var(--su-2) !important; }
.pt-3 { padding-top: var(--su-3) !important; }
.pt-4 { padding-top: var(--su-4) !important; }
.pt-5 { padding-top: var(--su-5) !important; }
.pt-6 { padding-top: var(--su-6) !important; }
.pt-7 { padding-top: var(--su-7) !important; }
.pt-8 { padding-top: var(--su-8) !important; }

.py-0 { padding-top: var(--su-0) !important; padding-bottom: var(--su-0) !important; }
.py-1 { padding-top: var(--su-1) !important; padding-bottom: var(--su-1) !important; }
.py-2 { padding-top: var(--su-2) !important; padding-bottom: var(--su-2) !important; }
.py-3 { padding-top: var(--su-3) !important; padding-bottom: var(--su-3) !important; }
.py-4 { padding-top: var(--su-4) !important; padding-bottom: var(--su-4) !important; }
.py-5 { padding-top: var(--su-5) !important; padding-bottom: var(--su-5) !important; }
.py-6 { padding-top: var(--su-6) !important; padding-bottom: var(--su-6) !important; }
.py-7 { padding-top: var(--su-7) !important; padding-bottom: var(--su-7) !important; }
.py-8 { padding-top: var(--su-8) !important; padding-bottom: var(--su-8) !important; }

.radius-full {
  @include borderRadius(9999px, true);
}

.cursor-pointer {
  cursor: pointer;
}

.grid {
  display: grid !important;
}

.l\:grid {
  @media (min-width: $break-medium) {
    display: grid !important;
  }
}

.gap-0 { grid-gap: var(--su-0) !important; }
.gap-1 { grid-gap: var(--su-1) !important; }
.gap-2 { grid-gap: var(--su-2) !important; }
.gap-3 { grid-gap: var(--su-3) !important; }
.gap-4 { grid-gap: var(--su-4) !important; }
.gap-5 { grid-gap: var(--su-5) !important; }
.gap-6 { grid-gap: var(--su-6) !important; }
.gap-7 { grid-gap: var(--su-7) !important; }
.gap-8 { grid-gap: var(--su-8) !important; }

.flex {
  display: flex !important;
}
.shrink-0 {
  flex-shrink: 0 !important;
}

.opacity-50 {
  @include opacity(0.5);
}

body {
  @include flexCol();
  min-height: calc(100vh - var(--header-height));
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-y: scroll;
  padding-top: var(--header-height);
  background: var(--body-bg);
  color: var(--body-colour);
  font-family: $def_font;
  font-size: $def_font_size;
  font-weight: $def_font_weight;
  margin: var(--su-0);
}

figcaption,figure, div, main, header, footer, section {
  display: block;
}

h1, h2, h3, h4, h5 {
  font-family: $def_font;
  font-weight: 500;

  & > strong {
    font-weight: 600;
  }

  &.text-center {
    & > strong {
      &:after {
        margin: 10px auto 0 auto;
      }
    }
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.35rem;
}

h3 {
  font-size: 2.15rem
}

h4 {
  font-size: 1.95rem;
}

h5 {
  font-size: 1.75rem;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  @include prefixOnly(appearance, button, $browsers);
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.show-large {
  @media screen and (max-width: $break-large) {
    display: $disp_block_imp;
  }
}

.show-small {
  @media screen and (max-width: $break-small) {
    display: $disp_block_imp;
  }
}

.show-tablet {
  @media screen and (max-width: $break-tablet) {
    display: $disp_block_imp;
  }
}

.show-mobile {
  @media screen and (max-width: $break-mobile) {
    display: $disp_block_imp;
  }
}

.hide-large {
  @media screen and (max-width: $break-large) {
    display: $disp_none_imp;
  }
}

.hide-small {
  @media screen and (max-width: $break-small) {
    display: $disp_none_imp;
  }
}

.hide-mobile {
  @media screen and (max-width: $break-mobile) {
    display: $disp_none_imp;
  }
}

.sticky {
  @include fixedTop(0, 0, 0);
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

.text-center {
  text-align: center;
}

.inner {
  max-width: 100%;
}

.float-right {
  float: right;
}

a {
  text-decoration: none;

  &.github {
    @include flexRow();
    @include borderRadius(var(--border-radius));
    font-size: var(--fs-xs);
    background: #24292E;
    color: #fff;
    font-family: var(--ff-sans-serif);
    line-height: 1;
    font-weight: normal;
    text-decoration: none;
    align-items: center;
    height: 36px;
    padding: 2px var(--su-3);

    img {
      max-width: 24px;
      max-height: 24px;
    }

    &:hover {
      @include opacity(0.75);
    }
  }
}

blockquote {
  padding: 0 var(--su-2) 0 var(--su-6);
  margin: 0 0 var(--su-6);
  border-left: 4px solid var(--accent-brand);
  color: var(--base-70);
  font-family: var(--ff-monospace);
  font-size: var(--fs-base);
}
