@import 'vars';
@import 'base';
@import 'mixins';

:root {
  --site-footer-height: 100px;
  --site-footer-bg: rgba(210,214,219,0.26)
}

.jsd {
  &-site {
    &-footer {
      min-height: var(--site-footer-height);
      background: var(--site-footer-bg);
      margin-top: var(--su-6);
      border-top: 1px solid var(--base-a10);
      padding: var(--su-6) var(--su-1);

      @media (min-width: $break-small) {
        padding: var(--su-8);
      }

      &-container {
        &-inner {
          @include flexCol();
          margin: auto;
          align-items: flex-start;
          position: relative;
          padding-right: var(--layout-padding);
          padding-left: var(--layout-padding);
          max-width: var(--site-width);
          justify-content: space-between;

          @media (min-width: $break-small) {
            @include flexRow();
          }
        }


        position: relative;
        @include flexCol();
        justify-content: space-between;
        padding: 0 var(--su-2);

        @media (min-width: $break-small) {
          @include flexRow();
          justify-content: space-between;
          padding: 0 var(--su-4);
        }
      }

      &-info {
        --link-colour: #{$link_colour_hover};
        --link-colour-hover: #{$colour_dark_navy_blue};

        @include grid(var(--su-4));
        width: 100%;
        align-self: flex-start;
        font-size: var(--fs-xs);
        order: 1;
        padding: var(--su-1) var(--su-1) var(--su-1) var(--su-4);

        @media (min-width: $break-small) {
          width: 25%;
          padding: 0;
          margin-right: var(--su-8);
          order: initial;
        }

        div:not(:first-child) {
          @include flexbox(1 auto);
        }

        > div:first-child {
          a {
            @include flexbox();
          }
        }

        img {
          max-height: 40px;
        }

        p {
          margin: 0;
        }

        ul,li {
          margin: 0;
          padding: 0;
          list-style: none;
        }

        ul {
          @include flexRow();
          li {
            @include flexbox();
            margin-right: var(--su-3);
            a {
              @include flexbox();
            }

            img {
              @include opacity(0.6);
              height: 24px;
              width: 24px;
            }
          }
        }
      }

      &-links {
        @include flexauto(1 auto);
        @include grid(var(--su-4), repeat(2, 1fr));

        @media (min-width: $break-tablet) {
          grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: $break-medium) {
          grid-template-columns: repeat(3, 200px);
        }

        a {
          @include flexbox(1 auto);
          @include borderRadius(var(--border-radius));
          font-size: var(--fs-s);
          align-items: center;
          height: 36px;
          padding-left: var(--su-4);
          &:hover {
            background: var(--base-a5);
            color: #{$colour_dark_navy_blue};
          }
        }
      }

      &-right {
        display: none;
      }
    }
  }
}
