@import 'vars';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'syntax';
@import 'postroll';
@import 'animations';
@import 'footer';

.tag-list {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1rem;

  a {
    font-size: 0.8rem;
    border-radius: 5;
    padding: 0.25rem;
    display: inline-block;
    color: #64707d;
    text-decoration: none;
    box-shadow: none;

    .prefix {
      @include opacity(0.4);
      font-style: italic;
      padding-right: 1px;
    }
  }
}

.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $header_zindex;
  height: var(--header-height);
  background: $header_bgcolour;
  @include boxShadow(0, 1, 1, 0,rgba(0, 0, 0, 0.1));

  .top-bar-container {
    @include flexRow();
    margin: auto;
    align-items: center;
    position: relative;
    padding-right: var(--layout-padding);
    padding-left: var(--layout-padding);
    max-width: var(--site-width);
    height: var(--header-height);
    justify-content: space-between;

    a {
      @include flexbox();
      margin: 0;
      text-decoration: none;
      padding: 0 7px 0 9px;

      img {
        max-height: $header_logo_max_height;
        max-width: $header_logo_max_width;
        margin: 0;
      }

      &.github {
        img {
          max-height: 24px;
        }
      }
    }
  }
}
