@import 'vars';
@import 'mixins';

:root {
  --layout-sidebar-left-width: 240px;
  --layout-content-width: 2fr;
  --layout-sidebar-right-width: 1fr;
  --layout-drawer-width: 300px;
  --layout: 100%;
  --layout-gap: var(--su-2);
  --layout-padding: 0;
  --content-font-family: var(--ff-sans-serif);

  @media (min-width: $break-small) {
    --layout-sidebar-left-width: 2fr;
    --layout-padding: var(--su-2);
    --layout: var(--layout-content-width);
  }
}

:root {
  --article-rythm: var(--su-2);
  --article-padding-x: var(--su-3);
  --article-padding-y: var(--su-3);
  --article-font-size: var(--fs-s);

  @media (min-width: $break-tablet) {
    --article-padding-x: var(--su-5);
    --article-padding-y: var(--su-5);
  }

  @media (min-width: $break-small) {
    --article-rythm: var(--su-4);
    --article-padding-x: var(--su-8);
    --article-padding-y: var(--su-7);
  }
}

[class^='jsd'],
[class^='jsd']::before,
[class^='jsd']::after,
[class^='jsd'] *,
[class^='jsd'] *::before,
[class^='jsd'] *::after {
  @include borderBox();
}

.universal-page-content-wrapper {
  flex: 1 auto;
  visibility: visible;
  font-size: 18px;
}

.site-container {
  @include flexCol();
  
  .page-content {
    @include grid(var(--layout-gap), var(--layout));
    padding: var(--layout-padding);
  }
}

.jsd-layout {
  @include grid(var(--layout-gap), var(--layout));
  font-size: var(--fs-base);
  max-width: var(--site-width);
  margin: 0 auto;
  padding: var(--layout-padding);
}

.jsd-layout-2-cols {
  --layout-sidebar-right-display: none;
  @media (min-width: $break-small) {
    --layout: var(--layout) 0;
  }

  @media (min-width: $break-medium) {
    --layout-sidebar-right-display: block;
    --layout-sidebar-right-width: 1fr;
    --layout-content-width: 2.5fr;
    --layout: var(--layout-content-width) var(--layout-sidebar-right-width);
  }
}

.jsd-layout-3-cols {
  @media (min-width: $break-small) {
    --layout: var(--layout-sidebar-left-width) var(--layout-content-width);
    --layout-sidebar-left-row-end: span 2;
    --layout-sidebar-left-width: 2fr;
    --layout-sidebar-right-width: 5fr;
    --layout-content-width: 5fr;
  }

  @media (min-width: $break-medium) {
    --layout-sidebar-left-width: 240px;
    --layout-sidebar-right-width: 1fr;
    --layout-sidebar-left-row-end: initial;
    --layout-content-width: 2fr;
    --layout: var(--layout-sidebar-left-width) var(--layout-content-width) var(--layout-sidebar-right-width);
  }
}

.jsd-layout-3-cols-drop-right-left {
  --layout-sidebar-left-display: none;
  --layout-sidebar-right-display: none;
  --layout-sidebar-left-width: var(--layout-drawer-width);
  --layout-sidebar-right-width: var(--layout-drawer-width);

  @media (min-width: $break-small) {
    --layout-sidebar-left-width: 2fr;
    --layout-sidebar-left-row-end: initial;
    --layout-sidebar-left-display: block;
  }

  @media (min-width: $break-medium) {
    --layout-sidebar-right-display: block;
    --layout-sidebar-right-width: 1fr;
    --layout-sidebar-left-width: 240px;
  }
}

.jsd-layout-sidebar-left {
  display: var(--layout-sidebar-left-display);
  grid-row-end: var(--layout-sidebar-left-row-end);
  width: var(--layout-sidebar-left-width);
}

.jsd-layout-sidebar-right {
  display: var(--layout-sidebar-right-display);
  grid-row-end: var(--layout-sidebar-right-row-end);
  width: var(--layout-sidebar-right-width);
}

.jsd-header-widget {
  .jsd-sidebar-widget {
    padding: 0;
  }

  .hidden {
    display: grid !important;
  }

  .jsd-card {
    margin-bottom: var(--su-6);
    &.branded {
      --fs-m: var(--fs-s);
      --fs-base: #{$fnt-sz-xs};
      --fs-xs: #{$fnt-sz-xxs};
      --base-50: var(--base-70);
      --base-60: var(--base-70);
    }
  }
}

.jsd-sidebar-widget {
  position: relative;
  display: block;
  padding: 0 16px 16px 16px;
  margin: 8px 0 16px 0;

  header {
    position: relative;
    font-weight: var(--fw-heavy);
    padding: 8px 0;
    font-family: var(--ff-monospace);
    color: var(--card-colour);
    margin: var(--m-0);

    h2, h3 {
      margin: 0 0 var(--su-2) 0;
    }
  }

  .widget-body {
    overflow-wrap: break-word;

    p {
      margin: var(--su-1) 0 0 0;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: var(--card-colour-tertiary);
    @include opacity(0.25);
  }

  &:last-child{
    &:after {
      background: transparent;
    }
  }

  &:first-child {
    header {
      padding-top: 0;
    }
  }
}

.sidebar-tags-browser {
  .sidebar-nav-element {
    display: block;
    position: relative;
  }
}

.jsd-link {
  color: var(--link-colour);
  cursor: pointer;

  &:hover {
    color: var(--link-colour-hover);
  }
}

.jsd-link-block {
  @include flexbox();
  @include borderRadius(var(--border-radius));

  @media (min-width: 640px) {
    padding: var(--su-2);
  }

  &:hover {
    &:not(.jsd-link-current) {
      background: #FDE000;
      color: var(--link-colour);
    }
  }
}

.jsd-card {
  @include borderRadius(var(--border-radius));
  @include boxShadow(0, 0, 0, 1, var(--card-border));
  background: var(--card-bg);
  color: var(--card-colour);
}

.jsd-card-header {
  @include flexbox();
  justify-content: space-between;
  align-items: center;
  padding: var(--su-3) var(--su-4);
  border-bottom: 1px solid var(--body-bg);
}

.jsd-card-secondary {
  @include boxShadow(0, 0, 0, 1, var(--card-secondary-border));
  background: var(--card-secondary-bg);
  color: var(--card-secondary-color);

  &.branded {
    border-top: var(--su-7) solid var(--accent-brand);
  }
}

.jsd-card-header-headline {
  font-size: var(--fs-s);
  font-family: var(--ff-monospace);
  font-weight: var(--fw-bold);
  color: var(--base-100);
  margin: 0;
  
  a {
    color: inherit;

    &:hover {
      color: var(--link-colour-hover);
    }
  }
}

.jsd-link-contentful {
  display: block;
  padding: var(--su-4);
  border-bottom: 1px solid var(--body-bg);
  font-size: var(--fs-xs);

  &:hover {
    font-weight: var(--fw-med);
    color: var(--card-secondary-hover-colour);
    background: var(--card-secondary-hover-bg);
  }
}

.jsd-article-wrapper {
  min-width: 0;
}

.jsd-article {
  header {
    border-bottom: 0 none;

    h1 {
      margin: 0;
    }
  }

  --article-padding-x: var(--su-3);
  --article-padding-y: var(--su-3);

  @media (min-width: $break-small) {
    --article-padding-x: var(--su-12);
    --article-padding-y: var(--su-8);
  }
}

.jsd-article-header {
  overflow-wrap: anywhere;
  word-break: break-word;
}

.jsd-article-header-meta {
  padding: var(--article-padding-y) var(--article-padding-x) 0 var(--article-padding-x);
}

.jsd-spec-tags {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.jsd-tag {
  @include borderRadius(var(--border-radius));
  font-size: var(--fs-xs);
  color: var(--tag-color);
  line-height: 1.3;
  padding: var(--su-1) var(--su-2);
  display: inline-block;

  @media (min-width: $break-tablet) {
    font-size: var(--fs-s);
  }
}

.jsd-article-subheader {
  @include flexbox();
  font-size: var(--fs-base);
  color: var(--base-60);
  flex-wrap: wrap;
  align-items: center;

  .jsd-avatar {
    width: var(--su-7);
    height: var(--su-7);
  }
}

.jsd-article-main {
  padding: var(--article-padding-y) var(--article-padding-x);
  gap: var(--su-7);
}

.jsd-article-body {
  overflow-wrap: break-word;
}

.text-styles {
  --text-style-fs: var(--su-4);
  font-size: var(--text-style-fs);
  font-family: var(--content-font-family);

  @media (min-width: $break-small) {
    --text-style-fs: var(--fs-s);
  }

  h1 {
    font-size: var(--su-6);
    font-weight: var(--fw-med);
    @media (min-width: $break-small) {
      font-size: var(--su-8);
      font-weight: var(--fw-med);
    }
  }

  h2 {
    font-size: var(--su-6);
    font-weight: var(--fw-bold);
    @media (min-width: $break-small) {
      font-size: var(--su-7);
      font-weight: var(--fw-med);
    }
  }

  h3 {
    font-size: var(--su-5);
    font-weight: var(--fw-med);
    @media (min-width: $break-small) {
      font-size: var(--su-7);
    }
  }

  h4 {
    font-size: var(--su-5);
    font-weight: var(--fw-med);
    @media (min-width: $break-small) {
      font-size: var(--su-6);
      font-weight: var(--fw-med);
    }
  }

  h5 {
    font-size: var(--su-4);
    font-weight: var(--fw-bold);
    @media (min-width: $break-small) {
      font-size: var(--su-5);
      font-weight: var(--fw-bold);
    }
  }

  h6 {
    font-size: var(--su-4);
    font-weight: var(--fw-bold);
    @media (min-width: $break-small) {
      font-size: var(--su-5);
      font-weight: var(--fw-med);
    }
  }

  a {
    color: var(--link-colour-hover);
    cursor: pointer;

    &:hover {
      color: var(--link-colour);
      text-decoration: underline;
    }
  }

  strong {
    font-weight: var(--fw-heavy);
  }
}

.jsd-author-bio {
  font-size: var(--fs-base);
  color: var(--base-70);
}

.jsd-author-details {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: var(--su-4);
    }

    .key {
      text-transform: uppercase;
      color: var(--base-50);
      font-size: var(--fs-xs);
      font-weight: var(--fw-bold);
    }

    .value {
      font-size: var(--fs-base);
      color: var(--base-60);

      span {
        margin: 0 var(--su-2);
      }
    }
  }
}

.jsd-article-cover {
  position: relative;
  width: 100%;
  padding-top: 42%;
}

.jsd-article-cover-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius) var(--radius) 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}